input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
}
input:nth-child(1) {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid grey;
}
input:nth-child(2) {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid grey;
}

.authPage {
  display: flex;
  justify-content: center;
  height: 100%;
}
.authForm {
  width: 30rem;
  height: fit-content;
  margin-top: 20%;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: tomato;
  border-radius: 5px;
}
.rememberBlock {
  margin-top: 0.5rem;
}
.submit {
  margin-top: 1rem;
  padding: 0.3rem;
}
.errorMessage {
  margin: 0.3rem 0;
  text-align: center;
  color: rgb(210, 241, 28);
  font-weight: bold;
}
.captchaBlock {
  display: flex;
  flex-direction: column;
}
.captchaBlock input {
  max-width: 50%;
  margin-top: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
}
.captcha {
  width: 200px;
  height: 80px;
  margin-top: 0.5rem;
}
